* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}


header {
    margin: 16px 120px;
}

nav {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;

}

.menu {
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #000000;
}

.navButton {
    border: none;
    width: 164px;
    height: 44px;
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    border-radius: 4px;

    margin: 8px 0px;
}

/* heroSection */

.heroSection {
    background-image: url(assets/hero-bg.png);

    background-color: rgba(0, 25, 49, 0.8);
    background-size: cover;
    /* border: 1px solid red; */
    /* max-width: 2042px; */
    /* align-items: center; */



}



main .heroSection {
    text-align: center;
    padding: 115.5px 120px 263.5px 120px;
}


main .heroSection div .one {
    width: 229px;
    height: 35px;
    color: #30B868;
    border-radius: 1000px;
    border: none;
    padding: 8px 12px;
}


/* main .heroSection div spa.one img {
    display: flex;
} */

main .heroSection div .firsth1 {
    color: rgba(255, 255, 255, 1);
    font-size: 72px;
}

main .heroSection div .ndh1 {
    color: rgba(48, 184, 104, 1);
    font-size: 72px;
}


main .heroSection div p {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    gap: 40px;
    margin-top: 16px;
    margin-bottom: 32px;
}


main .heroSection div .two {
    width: 251px;
    height: 52px;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: none;
}


main .heroSection div .three {
    width: 198px;
    height: 52px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 4px;
}

.h1AndPsection {
    text-align: center;
    /* margin: 12px; */
    /* background-color: #30B868; */

    padding-top: 100px;
    padding-bottom: 36px;
    /* gap: 16; */

    font-size: 28px;
    /* line-height: 58px; */
    font-style: Bold;

    background-color: #ddeaf6;
}

.h1AndPsection p {
    color: #627382;
    padding: 44px;
    font-size: 16px;
    gap: 16px;
}

.card-section {
    background-color: #ddeaf6;

}

.card {
    /* border: ; */
    width: 322px;
    /* border: 1px solid red; */
    /* margin-left: 120px; */
    height: 300px;
    align-items: center;
    /* gap: 16px; */
    /* padding: 24px; */
    /* gap: 24px; */

}

.card img {
    /* background-color: ; */
    background: rgba(249, 85, 85, 1);
    border-radius: 20px;
    width: 32px;
    height: 32px;
    /* align-items: center; */
}

.card-container {
    display: flex;
    /* background-color: #30B868; */
    gap: 24px;
    /* align-items: center; */
}

.card-section {
    padding: 0px 120px;
}

.card {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 90.5px 33px 0.5px;
}

.card h2 {
    /* padding: 159.5px 33px 0.5px; */
    color: red;
    /* align-items: center; */
}


.Your-second {
    /* border: 1px solid red; */
    max-width: 1600px;
    height: 840px;
}

.Your-second-div {
    border: 1px solid red;
    max-width: 1360px;
    height: 600px;
    margin: 120px;
    display: flex;
}

.Your-second-div img {
    width: 600px;
    height: 599px;
    padding-right: 60px;
}

.Your-second-div .Your-second-div-txt {
    /* border: 1px solid red; */
    /* background-color: #c2e0f9; */
    padding-top: 102px;
    width: 700px;
}

/* .Your-second-div .Your-second-div-txt img {
    width: 20px;
    height: 20px;
    background-color:brown;
    color: rgba(48, 184, 104, 1);;
} */

.Your-second-div-txt h2 {
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 13px;
}

.Your-second-div-txt h {
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    /* padding-bottom: 16px; */
}

.Your-second-div-txt p{
    padding-top: 16px;
    color: #627382;
    padding-bottom: 40px;
}

.Your-second-div-txt h3{
    gap: 3px;
}