* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 16px 120px;
}

nav {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;

}

.menu {
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #000000;
}

.navButton {
    border: none;
    width: 164px;
    height: 44px;
    color: rgba(255, 255, 255, 1);
    background-color: #30B868;
    border-radius: 4px;

    margin: 8px 0px;
}