* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    border: 1px solid red;
    padding-inline: 120px;
    /* margin: 0px auto; */
    /* width: 1600px; */

}

header {
    /* background-color: aqua; */
    padding-top: 16px;
}

.logo-navbar {
    width: 139px;
    height: 60px;
}

div {
    display: flex;
    /* background-color: lightblue; */
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
    /* text-decoration: none; */
}

nav .menu a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

.navbar .navButton {
    /* display: flex; */
    /* align-items: center; */
    color: rgba(255, 255, 255, 1);;
    font-size: 16px;
    /* text-align: center; */
    padding: 12.5px 16px;
    border-radius: 4px;
    background-color: #3e9160;
    border: none;
    /* margin: 16px; */
}


